<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  <!-- Link to the CSS file -->
</head>
<body>
    {{> partials/header}}  <!-- Include the header partial view here -->
    <main>
        {{{ content }}}  <!-- Placeholder for the main content of each page -->
    </main>
    <footer>
        <div class="footer-container">
            <p>© 2024 HOSPICE. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>